{% extends 'users/base.html' %}
{% block users_active %}active{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2><b>Sign up</b></h2><br>
                                <div class="form-group">
                                  <label for="usr">Name:</label>
                                  <input type="text" class="form-control" id="usr">
                                </div>
                                <div class="form-group">
                                  <label for="usr">Mail:</label>
                                  <input type="text" class="form-control" id="mail">
                                </div>
                                <div class="form-group">
                                  <label for="pwd">Password:</label>
                                  <input type="password" class="form-control" id="pwd">
                                </div><br>
                            <span><button type="button" class="btn btn-primary">&nbsp; Sign in &nbsp;</button></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}